### Gradle ###
.gradle
!gradle/wrapper/gradle-wrapper.jar

### Build ###
build/

### IntelliJ IDEA ###
!.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.intellijPlatform

### Mac OS ###
.DS_Store
